
h1{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: black;
}

div{
    border: 5px;
    border-color: black;
    border-radius: 5px;
    border-style: ridge;
    margin-bottom: 10px;
    background-color: cadetblue;
    
}

#buttoncreate{
    margin-bottom: 10px;
    margin-left: 10px;
}

#content{ 
    margin-bottom: 10px;
    width: 1475px;
    height: 90px;
    white-space: pre-line;
    margin-left: 10px;
    margin-right: 10px;
}

#titlelabel {
    margin-left: 10px;
    margin-bottom: 10px;
}

#title{
    margin-left: 10px;
    margin-bottom: 10px;
}

#labelcontent{
    margin-left: 10px;
    margin-bottom: 10px;
}

button{
    border: 1px;
    border-color: black;
    border-radius: 1px;
    border-style: solid;
}

p{
    
    margin-right: 10px;
    white-space: pre-line; /*satır satır yazabilmek için*/
}

.div-2{
    /* width: 1400px;*/
    height: 700px; 
    border: 5px solid black; /* Div'in kenarlık stilini belirleme */
    /* overflow: auto;  Taşan içerik için kaydırma çubukları ekler */
    word-wrap: break-word; /* Kelimeleri bir alt satıra geçirir */
    
}

